@use '/src/styles/variable' as *;
@use '/src/styles/mixin' as *;


.banner2{
  height: 768px;
  background-image: url(../assets/images/Banner2.svg);
  background-repeat: no-repeat;
  background-position: 80% 25%;
  background-size: cover;

  .banner2Content{
    padding: 94px $margin-0;
    background: #1E1E1E;

    @include mobile{
      padding: 30px $margin-3;
    }

    h2{
      @include heading;
      font-size: $font-size-0;
      margin-bottom: 63px;
    }

    .banner2Content1{
      display: flex;

      @include mobile{
        flex-direction: column;
        align-items: center;
      }

      .banner2Item1{
        width: 40%;

        @include mobile{
          width: 100%;
          text-align: center;
        }
        p{
          font-family: 'Medium';
          font-size: $font-size-4;
          color: rgba(255, 255, 255, 0.7);
          margin-bottom: 20px;
        }

        p:nth-child(2){
          width: 80%;

          @include mobile{
            width: 100%;
            text-align: center;
          }
        }
      }

      .banner2Item2{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;
        gap: 24px;

        input, select{
          width: 362px;
          height: 100px;
          border-radius: 10px;
          border: none;
          outline: transparent;
          font-size: $font-size-4;
          color: $primary;
          padding: 20px 10px;

          @include macbookpro{
            width: 320px;
          }

          @include mobile{
            width: 100%;
            height: 50px;
          }
        }
      }
    }
  }
}